:root {
    --body-color: #1b1b1b;
    --text-gray: #C8C8C8;
    --bg-gray: rgba(255, 255, 255, 0.08);
    --border-gray: rgba(255, 255, 255, 0.12);
    --green: linear-gradient(180deg, #94DCBC 0%, #7DCFB0 100%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--body-color);
    color: white;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 80px 80px;
    background-position: center center;
    min-height: calc(100vh + 1px);
}

a,
button {
    transition: .25s;
}

.navLink {
    font-size: 17px;
    font-weight: 500;
    display: block;
    padding: 10px 16px;
    color: white;
    opacity: .7;

}

.navLink.active {
    opacity: 1;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 3.29vw;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 24px;
    }
}

@media (min-width: 769px) {
    .container {
        max-width: 100%;
        padding: 0 38px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 950px;
        padding: 0;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1120px;
    }
}

@media (min-width: 1340px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1344px;
    }
}